
.rec1{

width: 50%;
height: 50px;
border: 5px solid rgb(235, 151, 35);
background-color: transparent;
margin-bottom: 0PX;
border-radius: 10px ;
}
.rec2{

    width: 48%;
    height: 20px;
    border: 5px solid rgb(235, 151, 35);
    background-color: transparent;
    margin-bottom: 0PX;
    border-radius: 10px ;
}
.contenedor{

    width: 48%;
    height: 200px;
    border: 5px solid rgb(235, 151, 35);
    background-color: transparent;
    margin-bottom: 0PX;
    border-radius: 10px ;
}
.cua{

    width: 50%;
    height: 300px;
    border: 5px solid rgb(235, 151, 35);
    background-color: transparent;
    margin-bottom: 0PX;
    border-radius: 10px ;
}


  
